{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'transportation_company_installment_list' %}">Installment Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>amount</td>
    <td>status</td>
    <td>pay_type</td>
    <td>description</td>
    <td>cheque_count</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.amount }}</td>
    <td>{{ object.status }}</td>
    <td>{{ object.pay_type }}</td>
    <td>{{ object.description }}</td>
    <td>{{ object.cheque_count }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'transportation_company_installment_create' %}">Create new Installment</a>
{% endblock %}