{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'taxi_drivercontract_list' %}">DriverContract Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>created</td>
    <td>last_updated</td>
    <td>start_date</td>
    <td>end_date</td>
    <td>salari</td>
    <td>salari_type</td>
    <td>price_increase</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.start_date }}</td>
    <td>{{ object.end_date }}</td>
    <td>{{ object.salari }}</td>
    <td>{{ object.salari_type }}</td>
    <td>{{ object.price_increase }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'taxi_drivercontract_create' %}">Create new DriverContract</a>
{% endblock %}