{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'taxi_regionradius_list' %}">RegionRadius Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>point</td><td>{{ object.point }}</td></tr>
<tr><td>radius</td><td>{{ object.radius }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit RegionRadius</a>

{% endblock %}