{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'school_school_list' %}">School Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>manager_full_name</td><td>{{ object.manager_full_name }}</td></tr>
<tr><td>phone_numbers</td><td>{{ object.phone_numbers }}</td></tr>
<tr><td>time_shifts</td><td>{{ object.time_shifts }}</td></tr>
<tr><td>manager_mobile</td><td>{{ object.manager_mobile }}</td></tr>
<tr><td>manager_national_number</td><td>{{ object.manager_national_number }}</td></tr>
<tr><td>working_time</td><td>{{ object.working_time }}</td></tr>
<tr><td>address</td><td>{{ object.address }}</td></tr>
<tr><td>address_point</td><td>{{ object.address_point }}</td></tr>
<tr><td>deputy_mobile</td><td>{{ object.deputy_mobile }}</td></tr>
<tr><td>deputy_full_name</td><td>{{ object.deputy_full_name }}</td></tr>
<tr><td>service_officer</td><td>{{ object.service_officer }}</td></tr>
<tr><td>avatar</td><td>{{ object.avatar }}</td></tr>
<tr><td>postal_code</td><td>{{ object.postal_code }}</td></tr>
<tr><td>student_count</td><td>{{ object.student_count }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit School</a>

{% endblock %}